.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #3ea200;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    width: 70px;
    color: rgb(239, 244, 252);
    cursor: pointer;
    background-color: #c7c7c7;
    border-radius: 4px;
}